.header-wrapper {
  max-width: 1170px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  margin: 0 auto;
  height: 104px;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper__navigation-a + .header-wrapper__navigation-a {
  margin-left: 46px;
}

.header-wrapper__navigation-a {
  text-decoration: none;
  font-size: 1rem;
  color: #635c73;
  font-weight: 700;
}

.header-wrapper__logo_forkio_m {
  margin-left: 1rem;
}

.header-wrapper__logo_style_a {
  text-decoration: none;
  color: #333333;
  font-size: 1, 4rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-wrapper__logo_forkio_io {
  color: #8d81ac;
}

.header-wrapper__navigation-a-botton {
  text-decoration: none;
  color: #ffffff;
  background-color: #8d81ac;
  padding: 13px 37px;
  border-radius: 2em;
  margin-left: 35px;
}

@media (max-width: 480px) {
  .header-wrapper__navigation-a {
    display: none;
  }
}
.header-wrapper__navigation-line_short {
  height: 3px;
  width: 20px;
  background-color: #333333;
  float: right;
}

.header-wrapper__navigation-line_short_long {
  width: 26px;
  height: 3px;
  margin-top: 9px;
  background-color: #333333;
}

.header-wrapper__navigation-line_short_longs {
  width: 26px;
  height: 3px;
  background-color: #333333;
  margin-top: 6px;
}

.header-wrapper__navigation-dropdowns {
  cursor: pointer;
  display: none;
}

@media (max-width: 480px) {
  .header-wrapper__navigation-dropdowns {
    display: block;
    margin-right: 26px;
  }
}
@media (max-width: 480px) {
  .header-wrapper__logo_style_a {
    margin-left: 23px;
  }
}
.header-wrapper__navigation-dropdown_menu {
  display: none;
}

.header-wrapper__navigation-dropdowns:hover .header-wrapper__navigation-dropdown_menu {
  display: block;
  position: absolute;
  margin-top: 20px;
}

.header-wrapper__navigation-dropdown_menu-a {
  text-decoration: none;
}

.section-laptop {
  background-image: url(../img/bg_top.png);
  max-width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repead;
}

.section-laptop__content-m {
  padding-top: 100px;
}

.main-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.section-laptop__tite-h {
  margin: 0;
  font-size: 82px;
  color: #ffffff;
  font-weight: bold;
}

.section-laptop__subtitle-h {
  display: block;
  margin-top: 33px;
  font-size: 30px;
  font-weight: 700;
  color: #8d81ac;
  font-family: "Lato", sans-serif;
}

.section-laptop__small-text {
  display: block;
  font-size: 16px;
  margin-top: 18px;
  font-weight: 700;
  color: #848e97;
}

.section-laptop__botton {
  text-decoration: none;
  color: #ffffff;
  background-color: #8d81ac;
  padding: 24px 68px;
  border-radius: 2em;
  font-weight: 700;
}

.revolutionary-editor {
  display: flex;
  flex-direction: column;
}

.revolutionary-editor__small-text {
  margin-top: 40px;
  font-size: 14px;
  color: #848e97;
  font-weight: 700;
}

.revolutionary-editor__title-h {
  margin-top: 70px;
  font-size: 54px;
  font-weight: bold;
  color: #635c73;
  margin-bottom: 0;
}

.revolutionary-editor__text {
  margin-top: 40px;
  font-size: 21px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #5b5b5b;
}

.revolutionary-editor__button {
  margin-top: 36px;
}

.revolutionary-editor__button-git + .revolutionary-editor__button-git {
  margin-left: 10px;
}

.revolutionary-editor__button-git {
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
}

.revolutionary-editor__button-git_watch {
  border: 1px solid silver;
  padding: 8px 13px;
  background-color: #f8f8f8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.revolutionary-editor__button-git_number {
  border: 1px solid silver;
  padding: 8px 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.here__main-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1160px) {
  .here__main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.here {
  margin: 0 auto;
  margin-top: 70px;
  height: 711px;
  max-width: 1380px;
  background-color: #f4f4f4;
  background-image: url(../img/hello_fork.png);
  background-repeat: no-repeat;
  background-position: right 180%;
}

@media screen and (max-width: 1160px) {
  .here {
    background-image: none;
  }
}
.cards {
  padding-top: 100px;
  max-width: 510px;
}

@media screen and (max-width: 1160px) {
  .cards {
    padding-top: 20px;
  }
}
.cards-better {
  display: flex;
}

.here__main-wrapper-title {
  text-align: center;
  margin: 90px 0px 0px 60px;
  font-size: 35px;
  font-weight: bold;
  color: #8d81ac;
}

@media screen and (max-width: 1160px) {
  .here__main-wrapper-title {
    margin: 20px 0px 0px 0px;
  }
}
.cards-better__text {
  margin-left: 27px;
}

.cards-better__text-h {
  margin: 0;
}

.cards-better__text-t {
  display: block;
  font-size: 14px;
  color: #848e97;
  margin-top: 20px;
}

.cards-better + .cards-better {
  margin-top: 36px;
}

.cards-better__text_m {
  margin-left: 43px;
}

.cards-better__text_m_stuff {
  margin-left: 70px;
}

.cards-better__text_m_bette {
  margin-left: 55px;
}
